<!-- <div class="label"> -->
<!-- <button (click)="toggleDisplay();getAll()">Toggle Display all Users</button> -->



<!-- </div>
<div class="mainContent">
    <div class="innerContent">
        <label>List of Users</label>
        <table>
            <thead>
                <tr>
                    <th>ID No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users ">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td class="tdage">{{ user.age }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="logout">
        <button class="button" (click)="nav('login')">LOGOUT</button>
    </div>
</div> -->


<app-users></app-users>