.footer-body {
    min-height: 51px;
    display: grid;
    color: #edf5e1;
    background-color: #1A1A1A;
    align-items: center;
    justify-items: center;
}

h5 {
    padding-top: 10px;
    padding-bottom: 10px;
}